
*{
    margin: 0px;
    padding: 0px;
}
.indexphoto{
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align:center;
    position: relative;
}
body{
    background-image: url(../photo/index.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}
.header{
    display: inline-block;
    height: 60px;
    width: 100%;
    margin:20px;
    padding: 0px;
    
}
.logo{
    font-size: 30px;
    display: inline-block;
    width: 200px;
    float: left;
}
#menu { 
    font:12px verdana, arial, sans-serif; 
    width: 600px;
    padding: 0px;
    float: right;
   }
#menu, #menu li button{
    list-style:none;
    padding:0;
    margin:0;
   }
#menu li { 
    float:left; 
   }
#menu li button{
    display:block;
    padding:8px 50px;
    background:#3A4953;
    color:#fff;
    text-decoration:none;
    border-right:1px solid #000;
   }
#menu li button:hover {
    background:#146C9C;
    color:#fff;
    text-decoration:none;
    border-right:1px solid #000;
   }
#menu li button.last {
    border-right:0; /* 去掉左侧边框 */
    display: inline-block;
   }

.loginWindow{
    height: 500px;
    width: 500px;
    display: block;
    background-color: white;
    float: auto;
}
#loginstyle{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top:-250px;
    display: block;
    
}
.button-all{
    height: 10%;
    width: 100%;
}
.button-smail{
    border: 2px solid blue;
    display: inline-block;
    height: 100%;
    width: 49.2%;
    float: left;
}
.button-smail button{
    height: 100%;
    width: 100%;
    font-size: 20px;
}
.submit-big{
    background-color: yellow;
    height: 85%;
    padding-top: 30px;
}
.submit-login input,.submit-reg input{
    display: inline;
    height: 10%;
    width: 50%;
    padding: 5%;
    margin: 20px;
}
.submit-reg{
    display: none;
}
.submitToreg{
    display: inline;
    background-color: greenyellow;
    height: 10%;
    width: 50%;
    margin: 20px;
}